body{
    
    margin: 0;
    padding: 0;
    background-color: rgb(20, 3, 36);
}
.cards{
    
    height: 100%;
    width: 50%;
   margin-top: 15%;
}
.para{
    opacity: 90%;
    font-size:10px;
    margin: 15px 35px 3px 35px ;
}
.span{
    color: rgb(164, 74, 248);
}
.p{
    font-size: 9px;
}
.heading{

    margin: 30px 35px 3px 35px;
}
.tenk{
    display: flex;
    gap: 48px;
    margin-top: 40px;
    padding-left: 33px;
    margin-bottom: 30px;
    font-size: smaller;
    line-height: 0px;
}


.img-responsive{
    
   width: 100% ;
   object-fit: cover;
   opacity: 0.4
}
